%ul#bookings.no-bullet
  - @bookings.each do |booking|
    %li
      %span.time= booking.time
      %span.date= booking.date
      %span.description= booking.description
      %span.room_id= booking.room_id



