<h2>Select a room</h2>
<h4>Drag the GA logo on to your choice of rooms</h4>

<!-- / This booking home -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />



</head>


<div class="ui-widget-content draggable">
  <p>I'm draggable but can't be droppedddd</p>
</div>

<div class="ui-widget-content draggable">
  <p>Drag me to my target</p>
</div>

<div id="droppable" class="ui-widget-header">
  <p>accept: '#draggable'</p>
</div>