<head>
  <!-- / This booking home -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  </head>

<div class="booking-container">
<div class="row">
    <div class="span12"><h2>Make a Booking</h2>
  <h4>Drag the GA logo on to your choice of rooms</h4>
      <button class="btn btn-large danger">  <a href="/bookings/new">Clear</a></button>
    </div>

    <div class="span12">
      <div class="draggable ui-widget-content "><img src="/images/ga_drag.png"></div>
    </div>

</div>

<div class="row">
  <div class="span3">

      <div id="droppable" class="room1"></div>
      <div id="droppable2" class="room2"></div>
      <div id="droppable3" class="room3"></div>
    </div>

  <div class="span3">
    <div id="droppable-pres" class="pres-room"></div>
  </div>

  <div class="span3">
    <div id="droppable-kitchen" class="kitchen"></div>
  </div>

</div>

<div id ="booky">
<%= render :partial => 'form' %>
</div>

</div>


