%table#users
  - @users.each do |user|
    %tr
      %td
        - if user.is_admin?
          %span.name.alert.radius= user.name
        - else
          %span.name.alert.radius= user.name
      %td
        %span= user.email
      %td= link_to('Delete', user, :method => :delete, :confirm => 'Really?', :class => 'btn btn-danger') if user != @auth