<h2>Welcome to GA - Booker </h2>

<section class="content-area-grey arrow-down">
  <div class="grid-row two-flipped max-width has-padding">
    <div class="column image-wrapper">
      <img alt="Courses-papercraft" src="/images/welcome.jpg">
    </div>
    <div class="column" style="padding-right:10%">

<button class="cta_button"><a href="#">Enroll in a Course</a></button>
       <img alt="whoa" src="/images/postit.jpg">
    </div>
  </div>
</section>
<section id="link-courses" class="content-area-white link-section">
  <header class="max-width has-padding visit-metro">