div.booking-container {
padding: 5px !important;
text-align: center;
margin: 0 auto;
}

// div.hero-unit {
// padding: 40px !important;
// }

#droppable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  margin: 10px;
  display:block;
}

.room1 {
  background-image: url(../images/ga_room1.png);
  height: 180px;
  width: 191px;
}

.room2 {
  background-image: url(../images/ga_room2.png);
  height: 161px;
  width: 191px;
}

.room3 {
  background-image: url(../images/ga_room3.png);
  height: 151px;
  width: 191px;
}

.pres-room {
  background-image: url(../images/ga_pres.png);
  height: 492px;
  width: 177px;
}

.kitchen {
  background-image: url(../images/ga_kitchen.png);
  height: 492px;
  width: 81px;
}

.draggable {
  width: 100px;
  height: 100px;
  padding: 0.5em;
}

.draggable-nonvalid {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}

.booked {
   background-color: #c20027;
   border: 10px solid #c20027;
}