/* NAVIGATION CUSTOMISATIONS */
$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: black;
$navbarLinkColor: black;
$navbarLinkColorHover: #FF0000;

@import 'bootstrap';
body {
  background-color: $white;
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 18px;
}

@import 'bootstrap-responsive';

/* UNIVERSAL COLOURS */

$orange: #E13E06;
$green: #2ECC71;
$blue: #4099FF;
$darkpink: #D9014F;
$pink: #FC658E;
$mould: #A9AB19;
$white: #fff;
$red: #FF0000;
$yellow: #EFAE1B;

.navbar-inner {
  @include box-shadow(none !important);
  border: 20;
}

.navbar-form {
  list-style: none;
  padding-top: 10px;
  color: #fff
}

.navbar-form li {
  display: inline;
  margin: 10px;
  padding-top: 20px;
}

/* FOOTER NAVIGATION */
.footer {
  margin-top: 50px;
  padding: 10px;
  color: $white;
  background-color: black;
  a{
    color: $white;
    text-decoration: none;
  }
  a:hover {
    color: #ff0000;
  }
}

li a {
color: #fff;
text-decoration: none;
}

a:hover {
color: #ff0000;
text-decoration: none;
}

.brand {
  width: 200px;
  height: 45px;
  display: block;
  padding-top: 10px;
}

h2 {
  color: #ff0000;
}

button.cta_button {
  background-color: #c20027;
  padding: 10px;
  font-size: 28px;
  width: 300px;
  height: 70px;
  text-align: center;
  margin: auto;
  a {
     color: #ffffff;
     text-decoration: none;
    }
  a:hover {
        background-color: #53000a;
    }
  }

#users {
  width: 600px;
  height: 350px;
  background-color: #fff;
  color: #000;
  margin: auto;
  .name.alert.radius{
    color: #000;
    background-color: #2ecc71;
    font-weight: bold;
  }
}

.booked {
  background-color: #c20027;
}

div.ga_action {
  text-align: center;
}


