.footer.navbar-fixed-bottom
  %p.pull-left <a href="https://generalassemb.ly/" target="_blank">GA Home</a>

  %p.pull-right
    &copy; General Assembly 2013

%a {:href=> "https://generalassemb.ly/" target="_blank"}