<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="/images/ga_logo.png"></a>
          <div class="nav-collapse collapse">
            <!-- <ul class="nav"></ul> -->
            <ul class="navbar-form pull-right">
            <li><%== intellinav %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>